<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" media="all" href="/assets/rails_admin/rails_admin.self-c883efa876e5a963fa352297089099b024aca40fa985ccc7cd58dbfa9948f59b.css?body=1" />
  </head>
  <header>
    <!-- Fixed navbar -->
    <nav id="fontNavBar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brandx" href="#">MeditArte</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" <%= link_to 'home', home_index_path %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div id="rown" class="container">

      <main>
        <div class="container">
          <div class="row">
            <form id="contact" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                   <i class="material-icons prefix"></i>
                  <input id="first_name" type="text" class="validate">
                  <label class="contact-text"  for="first_name">Name</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix"></i>
                  <input id="last_name" type="text" class="validate">
                  <label class="contact-text" for="last_name">Phone</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix"></i>
                  <input id="email" type="email" class="validate">
                  <label class="contact-text" for="email" data-error="wrong" data-success="right">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix"></i>
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label class="contact-text" for="textarea1">Insert text</label>
                </div>
              </div>
              <center><button class="btn waves-effect waves-light">Enviar --> </button></center>
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
  <footer class="footer">
    <div class="container_footer">
      <span class="text-muted">&copy; Copyright 2018 - Development Tonny Brito</span><br>
      <span class="text-muted"><img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/br.svg" alt="Brazil Flag">  Devlandia - Curitiba - Br  <img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/br.svg" alt="Brazil Flag"></span>
    </div>
  </footer>
</html>