<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" media="all" href="/assets/rails_admin/rails_admin.self-c883efa876e5a963fa352297089099b024aca40fa985ccc7cd58dbfa9948f59b.css?body=1" />
  </head>
  <header>
    <!-- Fixed navbar -->
    <nav id="fontNavBar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brandx" href="#">MeditArte</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="contact">Fale Conosco</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div id="rown" class="container">

      <main>
        <div class="container">
          <div class="row">
            <div id="left" class="col s6">


              <ul id="album">
                 <span id="text-family">Nossos Produtos </span><br><br>
                <a href="youandme.html"><li id="photo02"><span  class="test">Pingentes / Aneis</span></li></a>
                <a href="travelsint.html"><li id="photo01"><span>Brincos / Tornozeleiras</span></li></a>
                <a href="travelsnac.html"><li id="photo04"><span>Outros Produtos</span></li></a>
                <a href="wechildren.html"><li id="photo03"><span>Conjuntos</span></li></a>

              </ul>
            </div>


            <div id="right" class="col s6">
              <p class="title-history">Ipanema Beach 1983
              aqui começa uma nova historia
              </p>
              <p>
                Tonny Brito: Pescador<br>
                Ana Suely: Professora<br><br>
                Ele -> Natural de Lourenço Marques – Moçambique - Africa<br>
                Ela -> Patural de Paranaguá – Paraná – Brasil
              </p>
              <p>
                Se conheceram no inicio de 1983 na pequena escola 31 de março em Ipanema, namoraram por 7 meses, casaram-se em 12/12/1983.<br>
                Tiveram 3 filhos:
              </p>
              <p>
                Fellipe Eduardo – Kassya Karolina – Camilla Crystina
              </p>
              <p>
                Moraram em Ipanema ate 1995 quando tiveram que ir para Paranagua, pois seu filho mais velho precisava estudar, e na praia não tinha ensino fundamental.
                Em paranagua ficaram ate 2005, quando decidiram ir morar em Curitiba, ondem estão ate hoje.
              </p>
              <p>
                34 anos de casamento uma vida com altos e baixos, mas muito feliz...
              </p>

            </div>
          </div>
        </div>
      </main>

    </div>
  </body>
  <footer class="footer">
    <container_footer>
      <span class="text-muted">&copy; Copyright 2018 - Development Tonny Brito</span><br>
      <span class="text-muted"><img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/br.svg" alt="Brazil Flag"> Devlandia - Curitiba - Br <img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/br.svg" alt="Brazil Flag"></span>
    </container>
  </footer>
</html>
