



.input-field label {
    color: #071395;
}
label.contact-text.active {
  color: yellow !important;
}

.material-icons prefix {
  background-color: green;
}

/*Button page Contact*/
button.btn {
  background-image: url('diversos/areiapraia') !important;
  border: 2px solid #c68c53 !important;
  border-radius: 15px !important;
  color: #604020 !important;
  font-weight: bold !important;
}