@charset "UTF-8";


ul#album li#photo35 {
  background: url('../images/travelint/tonny_lilly.jpg') no-repeat;
}
ul#album li#photo35:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo36 {
  background: url('../images/travelint/santabarbara2.JPG') no-repeat;
}
ul#album li#photo36:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#photo37 {
  background: url('../images/travelint/thegrove.JPG') no-repeat;
}
ul#album li#photo37:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo38 {
  background: url('../images/travelint/endeavour.jpg') no-repeat;
}
ul#album li#photo38:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo39 {
  background: url('../images/travelint/sly.jpg') no-repeat;
}
ul#album li#photo39:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo40 {
  background: url('../images/travelint/dino.jpg') no-repeat;
}
ul#album li#photo40:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo41 {
  background: url('../images/travelint/malibu.jpg') no-repeat;
}
ul#album li#photo41:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo42 {
  background: url('../images/travelint/seaworld.jpg') no-repeat;
}
ul#album li#photo42:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo43 {
  background: url('../images/travelint/dolbitheatre.jpg') no-repeat;
}
ul#album li#photo43:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo44 {
  background: url('../images/travelint/palosverdes.jpg') no-repeat;
}
ul#album li#photo44:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo45 {
  background: url('../images/travelint/parklabrea.jpg') no-repeat;
}
ul#album li#photo45:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo46 {
  background: url('../images/travelint/calcadadafama.jpg') no-repeat;
}
ul#album li#photo46:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo47 {
  background: url('../images/travelint/lhesdoulagunabeach.jpg') no-repeat;
}
ul#album li#photo47:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo48 {
  background: url('../images/travelint/griffty_observatory.jpg') no-repeat;
}
ul#album li#photo48:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo49 {
  background: url('../images/travelint/disney.jpg') no-repeat;
}
ul#album li#photo49:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}
