@charset "UTF-8";


ul#album li#photo20 {
  background: url('../images/travelnac/barcoprincipe.jpg') no-repeat;
}
ul#album li#photo20:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo21 {
  background: url('../images/travelnac/morretes.JPG') no-repeat;
}
ul#album li#photo21:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#photo22 {
  background: url('../images/travelnac/pesque-pague_itambe.jpg') no-repeat;
}
ul#album li#photo22:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo23 {
  background: url('../images/travelnac/gaviao1.jpeg') no-repeat;
}
ul#album li#photo23:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo24 {
  background: url('../images/travelnac/museudascanoas sfs.jpg') no-repeat;
}
ul#album li#photo24:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo25 {
  background: url('../images/travelnac/fozdoiguacu.jpg') no-repeat;
}
ul#album li#photo25:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo26 {
  background: url('../images/travelnac/pracadolido.JPG') no-repeat;
}
ul#album li#photo26:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo27 {
  background: url('../images/travelnac/regencia_es.jpeg') no-repeat;
}
ul#album li#photo27:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo28 {
  background: url('../images/travelnac/praiabravasc.jpg') no-repeat;
}
ul#album li#photo28:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo29 {
  background: url('../images/travelnac/enseadasc.jpg') no-repeat;
}
ul#album li#photo29:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo30 {
  background: url('../images/travelnac/prainhasc.jpg') no-repeat;
}
ul#album li#photo30:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo31 {
  background: url('../images/travelnac/canionguartela.jpg') no-repeat;
}
ul#album li#photo31:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo32 {
  background: url('../images/travelnac/foz.jpg') no-repeat;
}
ul#album li#photo32:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo33 {
  background: url('../images/travelnac/florianopolis.jpg') no-repeat;
}
ul#album li#photo33:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo34 {
  background: url('../images/travelnac/luactba.jpg') no-repeat;
}
ul#album li#photo34:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}
