@charset "UTF-8";


ul#album li#photo50 {
  background: url('../images/children/lipe/lipe1.jpg') no-repeat;
}
ul#album li#photo50:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo51 {
  background: url('../images/children/lipe/lipe2.JPG') no-repeat;
}
ul#album li#photo51:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#photo52 {
  background: url('../images/children/lipe/lipe3.JPG') no-repeat;
}
ul#album li#photo52:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo53 {
  background: url('../images/children/lipe/lipe4.jpg') no-repeat;
}
ul#album li#photo53:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo54 {
  background: url('../images/children/lipe/lipe5.jpg') no-repeat;
}
ul#album li#photo54:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo55 {
  background: url('../images/children/kassy/kassy1.jpg') no-repeat;
}
ul#album li#photo55:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo56 {
  background: url('../images/children/kassy/kassy2.jpg') no-repeat;
}
ul#album li#photo56:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo57 {
  background: url('../images/children/kassy/kassy3.jpg') no-repeat;
}
ul#album li#photo57:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo58 {
  background: url('../images/children/kassy/kassy4.jpg') no-repeat;
}
ul#album li#photo58:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo59 {
  background: url('../images/children/kassy/kassy5.jpg') no-repeat;
}
ul#album li#photo59:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo60 {
  background: url('../images/children/cami/cami1.jpg') no-repeat;
}
ul#album li#photo60:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo61 {
  background: url('../images/children/cami/cami2.jpg') no-repeat;
}
ul#album li#photo61:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo62 {
  background: url('../images/children/cami/cami3.jpg') no-repeat;
}
ul#album li#photo62:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo63 {
  background: url('../images/children/cami/cami4.jpg') no-repeat;
}
ul#album li#photo63:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo64 {
  background: url('../images/children/cami/cami5.jpg') no-repeat;
}
ul#album li#photo64:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#photo65 {
  background: url('../images/children/filhos.jpg') no-repeat;
}
ul#album li#photo65:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo66 {
  background: url('../images/children/todos2.jpg') no-repeat;
}
ul#album li#photo66:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo67 {
  background: url('../images/children/filhos4.jpg') no-repeat;
}
ul#album li#photo67:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo68 {
  background: url('../images/children/filhos1.jpg') no-repeat;
}
ul#album li#photo68:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album li#photo69 {
  background: url('../images/children/todos1.jpg') no-repeat;
}
ul#album li#photo69:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}